<div class="col-md-6">

  <form  [formGroup]="regForm"  (ngSubmit)="postData(regForm.value)"  class="well form-horizontal"  method="post"  id="contact_form" >
    
    <div class="form-group">
      <label for="email">User Name</label>
      <input type="text" class="form-control"  placeholder="Enter username" formControlName="uname">

      <div *ngIf="regForm.controls['uname'].touched && !regForm.controls['uname'].valid">

        <span *ngIf="regForm.controls['uname'].hasError('required')">Enter Username</span>
        <span *ngIf="regForm.controls['uname'].hasError('minlength') && !regForm.controls['uname'].hasError('required')">Enter min 6 chars</span>
        </div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control"  placeholder="Enter password" formControlName="pwd">
      <div *ngIf="regForm.controls['pwd'].touched && !regForm.controls['pwd'].valid">

        <span *ngIf="regForm.controls['pwd'].hasError('required')">Enter Password</span>
        <span *ngIf="regForm.controls['pwd'].hasError('minlength') && !regForm.controls['pwd'].hasError('required')">Enter min 5chars</span>
        <span *ngIf="regForm.controls['pwd'].hasError('maxlength') && !regForm.controls['pwd'].hasError('required')">Enter max 10chars</span>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control"  placeholder="Enter email" formControlName="email">

    <div *ngIf="regForm.controls['email'].touched && regForm.controls['email'].invalid">
      <span *ngIf="regForm.controls['email'].hasError('required')"> Enter email</span>
      <span *ngIf="regForm.controls['email'].hasError('pattern') && !regForm.controls['email'].hasError('required')">  Email not valid </span> 
    </div>
 
    </div>

    <div class="form-group">
      <label for="pwd">Country</label>
      <select class="form-control" formControlName="country">
        <option value="">select country</option>
        <option value="ind">India</option>
        <option value="pak">Pak</option>
        <option value="usa">USA</option>
      </select>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button class="btn btn-success" [disabled]="!regForm.valid">Submit</button>
  </form>

  
   <pre>{{regForm.value | json}}</pre>
</div>


